:root {
  --dia-color-primary:#333;
  --dia-color-secondary:#666;
  --dia-background:#eee;
  --dia-font:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
}

* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
}

html {
  height:100%
}

body {
  font-family:var(--dia-font);
  color:var(--dia-color-primary);
  background:var(--dia-background);
}

p, img {
  margin-bottom:8px
}

p {
  font-size:18px;
}

img {
  width:fit-content;
}

#dia-slides {
  margin:auto;
  display:flex;
  justify-content:center;
  max-width:1000px;
  padding:25px;
  height:100%;
  overflow:hidden
}

#dia-repo-link {
  position:absolute;
  top:25px;
  left:25px;
  font-size:14px;
}

#dia-repo-link a {
  color:var(--dia-color-primary);
  text-decoration:none;
}

#dia-repo-link a:hover {
  text-decoration:underline;
}

#dia-progress-container {
  overflow:hidden;
  border-radius:6px;
  width:128px;
  height:10px;
  position:absolute;
  top:93%;
  border:2px solid var(--dia-color-primary)
}

#dia-progress {
  height:8px;
  display:inline-block;
  position:absolute;
}

#dia-progress {
  background-color:var(--dia-color-primary)
}

.dia-slide {
  height:100%;
  width:100%;
  display:none;
}

.dia-active {
  display:flex;
  flex-direction:column;
}

.dia-active.dia-layout-image-2x, .dia-active.dia-layout-image-3x {
  display:grid;
}

.dia-layout-title, .dia-layout-image {
  align-items:center;
  justify-content:center;
}

.dia-layout-title-and-body {
  align-items:center;
}

.dia-layout-image-2x {
  align-content:center;
  grid-template-columns:1fr 1fr;
  justify-items:center;
}

.dia-layout-image-3x {
  align-content:center;
  grid-template-columns:1fr 1fr 1fr;
  justify-items:center;
}

.dia-layout-image-2x {
  grid-template-columns:1fr 1fr;
  justify-items:center;
}

.dia-layout-image-3x {
  grid-template-columns:1fr 1fr 1fr;
  justify-items:center;
}

.dia-layout-title .dia-text-first {
  font-size:48px;
}

.dia-layout-title .dia-text-second {
  font-size:24px
}

.dia-layout-title-and-body .dia-text-first {
  font-size:30px;
}

.smaller {
  font-size:0.9rem;
}